@font-face {
    font-family: 'zzz-font';
    src: url('fonts/zzz.ttf');
}

@font-face {
    font-family: 'astral-black';
    src: url('fonts/astral-black.ttf');
}

@font-face {
    font-family: 'brunson';
    src: url('fonts/brunson.ttf');
}

@font-face {
    font-family: 'jump';
    src: url('fonts/jumper_3/Jumper-BlackItalic.ttf')
}

body {
    background-color: #9C97E6;
    margin: 0px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
}

.nav-links {
    padding-right: 30px;
    font-size: 36px;
    display: flex;
    gap: 10px;
}

.navbar a {
    color: white;
    font-family: zzz-font;
    text-decoration: none;
    padding: 15px;
    text-align: center;
}

.navbar a:hover {
    color: #9C97E6;
}

#logo {
    width: 209.3px;
    height: 78px;
    padding-top: 4px;
    padding-left: 20px;
    padding-bottom: 15px;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 50px;
    padding-left: 150px;
}

.text {
    max-width: 60%;
}

.image img {
    width: 600px;
    height: auto;
    padding-right: 100px;
    padding: 30px;
    margin: 0px;
    animation: intro 2s forwards;
}


@keyframes intro {
    0% {
        opacity: 0;
        transform: translateX(-10%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

#greeting {
    font-family: jump;
    font-size: 40px;
    margin-bottom: -20px;
    
}

#eng-name {
    font-family: brunson;
    font-size: 128px;
    margin: 0;
}

#chi-name {
    font-family: zzz-font;
    font-size: 128px;
    margin: 0;
}

.content p {
    font-family: zzz-font;
    font-size: 24px;
    font-weight: bold;
    max-width: 60%;
}

.butt {
    margin-top: 20px;
    padding: 10px 20px;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    font-family: zzz-font;
    font-size: 20px;
    transition: 0.2s ease-in;
}

.butt:hover {
    transform: scale(1.1);
    color: #9C97E6;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: black;
    margin: 0;
    padding: 20px 0;
    margin-top: auto;
}


#foot-logo {
    font-family: astral-black;
    color: white;
    padding-left: 65px;
    font-size: 36px;
    margin: 0;
}

#number {
    font-family: 'DM Sans', sans-serif;
    color: white;
    text-align: right;
    padding-right: 65px;
    font-size: 36px;
    margin: 0;
}